.elementor-188 .elementor-element.elementor-element-9b89ead:not(.elementor-motion-effects-element-type-background),
.elementor-188 .elementor-element.elementor-element-9b89ead>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../static/image/e65deffb-b500-4f15-bd08-185d2a645911.jpg");
    background-position: 4% 85%;
    background-size: cover;
}

.elementor-188 .elementor-element.elementor-element-9b89ead>.elementor-background-overlay {
    background-color: var(--e-global-color-blocksy_palette_2);
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-188 .elementor-element.elementor-element-9b89ead>.elementor-container {
    min-height: 350px;
}

.elementor-188 .elementor-element.elementor-element-9b89ead {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-188 .elementor-element.elementor-element-d57b546 {
    text-align: center;
}

.elementor-188 .elementor-element.elementor-element-d57b546 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-3fd15dce .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 30px;
}

.elementor-188 .elementor-element.elementor-element-3fd15dce {
    margin-top: 100px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-188 .elementor-element.elementor-element-70af08bb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-188 .elementor-element.elementor-element-70af08bb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-188 .elementor-element.elementor-element-3129899 img {
    border-radius: 8px 8px 8px 8px;
}

.elementor-bc-flex-widget .elementor-188 .elementor-element.elementor-element-4f2ee93f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-188 .elementor-element.elementor-element-4f2ee93f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-188 .elementor-element.elementor-element-e6169ed .elementor-heading-title {
    text-transform: uppercase;
    color: var(--e-global-color-blocksy_palette_1);
}

.elementor-188 .elementor-element.elementor-element-fdffa23 {
    text-align: left;
}

.elementor-188 .elementor-element.elementor-element-fdffa23 .elementor-heading-title {
    font-size: 45px;
    line-height: 54px;
    color: #161735;
}

.elementor-188 .elementor-element.elementor-element-4d2c3393 {
    text-align: left;
    font-size: 17px;
}

.elementor-188 .elementor-element.elementor-element-242f56c .elementor-button {
    background-color: var(--e-global-color-blocksy_palette_1);
    text-transform: uppercase;
    fill: var(--e-global-color-blocksy_palette_8);
    color: var(--e-global-color-blocksy_palette_8);
}

.elementor-188 .elementor-element.elementor-element-242f56c .elementor-button:hover,
.elementor-188 .elementor-element.elementor-element-242f56c .elementor-button:focus {
    background-color: var(--e-global-color-blocksy_palette_2);
    color: var(--e-global-color-blocksy_palette_8);
    border-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-188 .elementor-element.elementor-element-242f56c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-188 .elementor-element.elementor-element-242f56c {
    z-index: 20;
}

.elementor-188 .elementor-element.elementor-element-242f56c .elementor-button:hover svg,
.elementor-188 .elementor-element.elementor-element-242f56c .elementor-button:focus svg {
    fill: var(--e-global-color-blocksy_palette_8);
}

.elementor-188 .elementor-element.elementor-element-37486ef4:not(.elementor-motion-effects-element-type-background),
.elementor-188 .elementor-element.elementor-element-37486ef4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #EAEAEA 100%);
}

.elementor-188 .elementor-element.elementor-element-37486ef4 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 36px;
}

.elementor-188 .elementor-element.elementor-element-37486ef4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 0px 0px;
}

.elementor-188 .elementor-element.elementor-element-37486ef4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-188 .elementor-element.elementor-element-6e43012d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-188 .elementor-element.elementor-element-6e43012d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-188 .elementor-element.elementor-element-54f1adc .elementor-heading-title {
    text-transform: uppercase;
    color: var(--e-global-color-blocksy_palette_1);
}

.elementor-188 .elementor-element.elementor-element-40f83bcf .elementor-heading-title {
    line-height: 56px;
}

.elementor-188 .elementor-element.elementor-element-7713ab7 .elementor-button {
    background-color: var(--e-global-color-blocksy_palette_1);
    text-transform: uppercase;
    fill: var(--e-global-color-blocksy_palette_8);
    color: var(--e-global-color-blocksy_palette_8);
}

.elementor-188 .elementor-element.elementor-element-7713ab7 .elementor-button:hover,
.elementor-188 .elementor-element.elementor-element-7713ab7 .elementor-button:focus {
    background-color: var(--e-global-color-blocksy_palette_2);
    color: var(--e-global-color-blocksy_palette_8);
    border-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-188 .elementor-element.elementor-element-7713ab7>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-188 .elementor-element.elementor-element-7713ab7 {
    z-index: 20;
}

.elementor-188 .elementor-element.elementor-element-7713ab7 .elementor-button:hover svg,
.elementor-188 .elementor-element.elementor-element-7713ab7 .elementor-button:focus svg {
    fill: var(--e-global-color-blocksy_palette_8);
}

.elementor-188 .elementor-element.elementor-element-b6db815:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-188 .elementor-element.elementor-element-b6db815>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../static/image/420587d0-0a36-4087-afd3-4b3910a08432-e1661222539275.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.elementor-188 .elementor-element.elementor-element-b6db815>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-188 .elementor-element.elementor-element-b6db815>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-188 .elementor-element.elementor-element-6bf40fa {
    width: var(--container-widget-width, 83%);
    max-width: 83%;
    --container-widget-width: 83%;
    --container-widget-flex-grow: 0;
    text-align: left;
}

.elementor-188 .elementor-element.elementor-element-6bf40fa:not(.elementor-widget-image) .elementor-widget-container,
.elementor-188 .elementor-element.elementor-element-6bf40fa.elementor-widget-image .elementor-widget-container img {
    -webkit-mask-image: url(https://swforming.com/wp-content/plugins/elementor/assets/mask-shapes/circle.svg );
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.elementor-188 .elementor-element.elementor-element-cc48102 {
    width: var(--container-widget-width, 51%);
    max-width: 51%;
    --container-widget-width: 51%;
    --container-widget-flex-grow: 0;
    top: 36.461%;
}

body:not(.rtl) .elementor-188 .elementor-element.elementor-element-cc48102 {
    left: 56.301%;
}

body.rtl .elementor-188 .elementor-element.elementor-element-cc48102 {
    right: 56.301%;
}

.elementor-188 .elementor-element.elementor-element-cc48102:not(.elementor-widget-image) .elementor-widget-container,
.elementor-188 .elementor-element.elementor-element-cc48102.elementor-widget-image .elementor-widget-container img {
    -webkit-mask-image: url(https://swforming.com/wp-content/plugins/elementor/assets/mask-shapes/circle.svg );
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.elementor-188 .elementor-element.elementor-element-165f95c0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-188 .elementor-element.elementor-element-165f95c0>.elementor-container {
    min-height: 630px;
}

.elementor-188 .elementor-element.elementor-element-165f95c0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 80px 0px;
}

.elementor-188 .elementor-element.elementor-element-165f95c0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-188 .elementor-element.elementor-element-252b6837>.elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
}

.elementor-188 .elementor-element.elementor-element-ad38fbd,
.elementor-188 .elementor-element.elementor-element-ad38fbd>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px;
}

.elementor-188 .elementor-element.elementor-element-ad38fbd {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-188 .elementor-element.elementor-element-1007caa4 {
    font-size: 21px;
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-6b0a46e8 .elementor-heading-title {
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-117abb6e {
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-5d1b642a>.elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
}

.elementor-188 .elementor-element.elementor-element-388df2fd:hover {
    background-color: var(--e-global-color-blocksy_palette_1);
}

.elementor-188 .elementor-element.elementor-element-388df2fd,
.elementor-188 .elementor-element.elementor-element-388df2fd>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px;
}

.elementor-188 .elementor-element.elementor-element-388df2fd {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-188 .elementor-element.elementor-element-2cae5324 {
    font-size: 21px;
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-70666f70 .elementor-heading-title {
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-49239f8 {
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-4ffcf4d6>.elementor-element-populated {
    margin: 0px 50px 0px 0px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 0px;
}

.elementor-188 .elementor-element.elementor-element-79bc4863:hover {
    background-color: var(--e-global-color-blocksy_palette_1);
}

.elementor-188 .elementor-element.elementor-element-79bc4863,
.elementor-188 .elementor-element.elementor-element-79bc4863>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px;
}

.elementor-188 .elementor-element.elementor-element-79bc4863 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-188 .elementor-element.elementor-element-299d4386 {
    font-size: 21px;
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-7d49a8ba .elementor-heading-title {
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
}

.elementor-188 .elementor-element.elementor-element-7e56b15b {
    color: #FFFFFF;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-188 .elementor-element.elementor-element-70af08bb {
        width: 100%;
    }

    .elementor-188 .elementor-element.elementor-element-4f2ee93f {
        width: 100%;
    }

    .elementor-188 .elementor-element.elementor-element-6e43012d {
        width: 100%;
    }

    .elementor-188 .elementor-element.elementor-element-b6db815 {
        width: 100%;
    }

    .elementor-188 .elementor-element.elementor-element-252b6837 {
        width: 100%;
    }

    .elementor-188 .elementor-element.elementor-element-5d1b642a {
        width: 100%;
    }

    .elementor-188 .elementor-element.elementor-element-4ffcf4d6 {
        width: 100%;
    }
}

@media(max-width:1024px) {

    .elementor-188 .elementor-element.elementor-element-9b89ead:not(.elementor-motion-effects-element-type-background),
    .elementor-188 .elementor-element.elementor-element-9b89ead>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0% 0%;
    }

    .elementor-188 .elementor-element.elementor-element-165f95c0>.elementor-container {
        min-height: 100vh;
    }
}

@media(max-width:767px) {

    .elementor-188 .elementor-element.elementor-element-9b89ead:not(.elementor-motion-effects-element-type-background),
    .elementor-188 .elementor-element.elementor-element-9b89ead>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: bottom center;
    }

    .elementor-188 .elementor-element.elementor-element-3fd15dce .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 15px;
    }

    .elementor-188 .elementor-element.elementor-element-3fd15dce {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .elementor-188 .elementor-element.elementor-element-fdffa23 .elementor-heading-title {
        font-size: 30px;
        line-height: 1.3em;
    }

    .elementor-188 .elementor-element.elementor-element-37486ef4 .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 15px;
    }

    .elementor-188 .elementor-element.elementor-element-40f83bcf .elementor-heading-title {
        font-size: 30px;
        line-height: 1.3em;
    }

    .elementor-188 .elementor-element.elementor-element-252b6837>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-188 .elementor-element.elementor-element-5d1b642a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

/* Start custom CSS for column, class: .elementor-element-252b6837 */
/*Show/Hide CSS*/
.elementor-188 .elementor-element.elementor-element-252b6837 .hide-first {
    display: none;
}

.elementor-188 .elementor-element.elementor-element-252b6837:hover .hide-first {
    display: block;
}

.elementor-188 .elementor-element.elementor-element-252b6837:hover .box1 {
    background-color: #D91B24;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5d1b642a */
/*Show/Hide CSS*/
.elementor-188 .elementor-element.elementor-element-5d1b642a .hide-first {
    display: none;
}

.elementor-188 .elementor-element.elementor-element-5d1b642a:hover .hide-first {
    display: block;
}

.elementor-188 .elementor-element.elementor-element-5d1b642a:hover .box1 {
    background-color: #D91B24;
}

/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4ffcf4d6 */
/*Show/Hide CSS*/
.elementor-188 .elementor-element.elementor-element-4ffcf4d6 .hide-first {
    display: none;
}

.elementor-188 .elementor-element.elementor-element-4ffcf4d6:hover .hide-first {
    display: block;
}

.elementor-188 .elementor-element.elementor-element-4ffcf4d6:hover .box1 {
    background-color: #D91B24;
}

/* End custom CSS */