.elementor-306 .elementor-element.elementor-element-39edb463:not(.elementor-motion-effects-element-type-background),
.elementor-306 .elementor-element.elementor-element-39edb463>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-306 .elementor-element.elementor-element-39edb463>.elementor-background-overlay {
    background-image: url("../../static/image/Popup-Help-BG.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-306 .elementor-element.elementor-element-39edb463>.elementor-container {
    max-width: 1200px;
    min-height: 630px;
}

.elementor-306 .elementor-element.elementor-element-39edb463,
.elementor-306 .elementor-element.elementor-element-39edb463>.elementor-background-overlay {
    border-radius: 100px 0px 100px 100px;
}

.elementor-306 .elementor-element.elementor-element-39edb463 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-bc-flex-widget .elementor-306 .elementor-element.elementor-element-6263cc0c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-306 .elementor-element.elementor-element-6263cc0c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-306 .elementor-element.elementor-element-6263cc0c>.elementor-element-populated {
    padding: 0% 12% 0% 12%;
}

.elementor-306 .elementor-element.elementor-element-488627f8 {
    text-align: center;
}

.elementor-306 .elementor-element.elementor-element-488627f8 .elementor-heading-title {
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
    color: #000000;
}

.elementor-306 .elementor-element.elementor-element-a5168d0>.elementor-widget-container {
    margin: -30px -20px 0px -20px;
}

#elementor-popup-modal-306 .dialog-widget-content {
    animation-duration: 0.6s;
    background-color: rgba(255, 255, 255, 0);
}

#elementor-popup-modal-306 {
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

#elementor-popup-modal-306 .dialog-message {
    width: 650px;
    height: auto;
}

#elementor-popup-modal-306 .dialog-close-button {
    display: flex;
    top: 2%;
}

body:not(.rtl) #elementor-popup-modal-306 .dialog-close-button {
    right: 2%;
}

body.rtl #elementor-popup-modal-306 .dialog-close-button {
    left: 2%;
}

#elementor-popup-modal-306 .dialog-close-button i {
    color: var(--e-global-color-blocksy_palette_1);
}

#elementor-popup-modal-306 .dialog-close-button svg {
    fill: var(--e-global-color-blocksy_palette_1);
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-306 .elementor-element.elementor-element-6263cc0c {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-306 .elementor-element.elementor-element-39edb463>.elementor-background-overlay {
        background-position: center left;
    }

    .elementor-306 .elementor-element.elementor-element-39edb463,
    .elementor-306 .elementor-element.elementor-element-39edb463>.elementor-background-overlay {
        border-radius: 50px 0px 50px 50px;
    }

    .elementor-306 .elementor-element.elementor-element-39edb463 {
        padding: 50px 50px 50px 50px;
    }

    .elementor-306 .elementor-element.elementor-element-6263cc0c>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-306 .elementor-element.elementor-element-488627f8 {
        text-align: center;
    }

    .elementor-306 .elementor-element.elementor-element-488627f8 .elementor-heading-title {
        font-size: 40px;
    }

    #elementor-popup-modal-306 .dialog-close-button {
        top: 4.7%;
    }

    body:not(.rtl) #elementor-popup-modal-306 .dialog-close-button {
        right: 7.9%;
    }

    body.rtl #elementor-popup-modal-306 .dialog-close-button {
        left: 7.9%;
    }

    #elementor-popup-modal-306 .dialog-message {
        padding: 0% 5% 0% 5%;
    }
}

@media(max-width:767px) {

    .elementor-306 .elementor-element.elementor-element-39edb463,
    .elementor-306 .elementor-element.elementor-element-39edb463>.elementor-background-overlay {
        border-radius: 30px 0px 30px 30px;
    }

    .elementor-306 .elementor-element.elementor-element-39edb463 {
        padding: 15px 15px 15px 15px;
    }

    .elementor-306 .elementor-element.elementor-element-488627f8 .elementor-heading-title {
        font-size: 25px;
    }

    #elementor-popup-modal-306 .dialog-message {
        width: 673px;
        padding: 5% 5% 0% 5%;
    }

    #elementor-popup-modal-306 .dialog-close-button {
        top: 4%;
    }

    body:not(.rtl) #elementor-popup-modal-306 .dialog-close-button {
        right: 4.9%;
    }

    body.rtl #elementor-popup-modal-306 .dialog-close-button {
        left: 4.9%;
    }
}